// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Header

.main-header{
    display:flex;
    justify-content:center;
    align-items:center;
    height:15vh;
    background-color:#0D6EFD;
}
.main-title{
    text-align:center;
    color:white;
}

//Cards
.card{
    min-height:300px;
}
.vote{
    background-color:#272B2F;
    color:white;
    padding: 0.2rem 0.5rem;
    justify-content:start;
    align-items:center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.vote-star{
    width:20px;
    aspect-ratio:1;
}

//Index

.main-section{
    width:100%;
    min-height: 85vh;
    background-color: #2E2E2E;
}